:root {
  --task-level-low-color: #17a63d;
  --task-level-midlow-color: #c2bf1f;
  --task-level-mid-color: #d99a1c;
  --task-level-midhigh-color: #eb5e17;
  --task-level-high-color: #c7311a;

  --task-text-color: Ivory;
}

.task-power-1 {
  background-color: var(--task-level-low-color);
}
.task-power-2 {
  background-color: var(--task-level-midlow-color);
}
.task-power-3 {
  background-color: var(--task-level-mid-color);
}
.task-power-4 {
  background-color: var(--task-level-midhigh-color);
}
.task-power-5 {
  background-color: var(--task-level-high-color);
}

.task-show {
  border-radius: 3px;
  color: var(--task-text-color);
}

.task-header {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.task-title {
  font-size: 120%;
  font-weight: 700;
}

.task-title-menu {
  text-align: center;
  cursor: pointer;
}

.task-title-menu i:hover {
  filter: contrast(20%);
}

.task-menu-list {
  display: none;
  position: absolute;
  z-index: 90;
  top: calc(2rem + 1em + 9px);
  right: 2px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  background-color: var(--task-text-color);
  color: var(--font-color);
  border-radius: 2px;
}
.task-menu-list li {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgb(153, 153, 153);
}
.task-menu-list li:last-child {
  border: none;
}

.task-content {
  padding: 15px;
  font-size: calc(12px + 0.5vh);
  overflow: auto;
  height: 30vh;
}
.task-content::-webkit-scrollbar {
  width: 6px;
}
.task-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 4px;
}

#add-task-button {
  color: var(--task-text-color);
  padding: 20px;
  position: fixed;
  background-color: var(--task-level-low-color);
  border-radius: 100px;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 80;
}
#add-task-button:hover {
  filter: grayscale(30%);
}
